<h2> Part 2 : Clean the dataframe. </h2>

- Examine the present columns -> decide on more useful columns or atomic features of interest.

- Create columns for the following...

    1. auction_year : Just the year of the auction
    2. listed_currency : The original listings currency
    3. high_estimate : High auction sale estimate
    4. low_estimate : Low auction sale estimate

- For each column with currency, convert the currency to USD and adjust for inflation.

- At the bottom of this notebook -> comment on future directions with this polished dataframe.

In [ ]:
!pip install easymoney

In [13]:
import pickle
import numpy as np
import pandas as pd
import os
from easymoney.money import EasyPeasy

In [17]:
with open(os.getcwd()+'/ALL_WATCHES.pickle', 'rb') as pickle_file:
    content = pickle.load(pickle_file)

In [19]:
content

,author,title,publisher,remainder,remainder2,realised_price,estimated_price,date_of_auction,Lot_description,auction_title,image_url,sale_reference,lot_number,url_link
0,ROLEX,A STAINLESS STEEL AUTOMATIC DUAL TIME WRISTWA...,,,,"HKD 35,000","HKD 24,000 - HKD 40,000",30 May 2012,[ROLEX. A STAINLESS STEEL AUTOMATIC DUAL TIME ...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4601,https://www.christies.com/lotfinder/watches/ro...
1,ROLEX,A STAINLESS STEEL AUTOMATIC ANTI-MAGNETIC WRI...,,,,"HKD 50,000","HKD 24,000 - HKD 40,000",30 May 2012,[ROLEX. A STAINLESS STEEL AUTOMATIC ANTI-MAGNE...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4602,https://www.christies.com/lotfinder/watches/ro...
2,ROLEX,A STAINLESS STEEL AUTOMATIC WRISTWATCH WITH S...,,,,"HKD 40,000","HKD 24,000 - HKD 40,000",30 May 2012,[ROLEX. A STAINLESS STEEL AUTOMATIC WRISTWATCH...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4603,https://www.christies.com/lotfinder/watches/ro...
3,ROLEX,A STAINLESS STEEL AUTOMATIC DUAL TIME WRISTWA...,,,,"HKD 62,500","HKD 24,000 - HKD 40,000",30 May 2012,[ROLEX. A STAINLESS STEEL AUTOMATIC DUAL TIME ...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4604,https://www.christies.com/lotfinder/watches/ro...
4,ROLEX,A STAINLESS STEEL AUTOMATIC WRISTWATCH WITH S...,,,,"HKD 35,000","HKD 24,000 - HKD 40,000",30 May 2012,[ROLEX. A STAINLESS STEEL AUTOMATIC WRISTWATCH...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4605,https://www.christies.com/lotfinder/watches/ro...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3624,Patek Philippe,"An Extremely Fine, Rare and Attractive Stainl...",,,,"USD 423,000","USD 350,000 - USD 550,000",6 June 2019,"[Patek Philippe. An Extremely Fine, Rare and A...",An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,92,https://www.christies.com/lotfinder/watches/pa...
3625,Patek Philippe,A Very Fine and Rare 18k White Gold Automatic...,,,,"USD 1,155,000","USD 300,000 - USD 500,000",6 June 2019,[Patek Philippe. A Very Fine and Rare 18k Whit...,An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,94,https://www.christies.com/lotfinder/watches/pa...
3626,Patek Philippe,A Rare and Historically Important Platinum an...,,,,"USD 15,000","USD 10,000 - USD 20,000",6 June 2019,[Patek Philippe. A Rare and Historically Impor...,An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,95,https://www.christies.com/lotfinder/watches/pa...
3627,Patek Philippe,A Fine 18k White Gold Wristwatch with Center ...,,,,"USD 25,000","USD 20,000 - USD 30,000",6 June 2019,[Patek Philippe. A Fine 18k White Gold Wristwa...,An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,97,https://www.christies.com/lotfinder/watches/pa...
3628,Patek Philippe,"A Fine, Rare and Attractive 18k Gold Automati...",,,,"USD 81,250","USD 40,000 - USD 60,000",6 June 2019,"[Patek Philippe. A Fine, Rare and Attractive 1...",An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,98,https://www.christies.com/lotfinder/watches/pa...

<h4> Split the esimated_price column into 2 columns for low and high values. Add a column with just year of auction. Add column with auction's listed currency. </h4>

In [27]:
estimate_low = []
estimate_high = []
for i in content.estimated_price:
    low_est, hi_est = i.split(' - ')
    estimate_low.append(low_est)
    estimate_high.append(hi_est)

assert(len(estimate_low) == len(estimate_high)), 'Error in low/high estimate column pre-processing'

#add the new columns to main dataframe
content['low_estimate'] = estimate_low
content['high_estimate'] = estimate_high

In [75]:
years_only = []
for i in content.date_of_auction:
    years_only.append(i.split(' ')[2])
    
content['auction_year'] = years_only

C:\Users\cltng\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [135]:
auctionlist_currency = []
for i in content.estimated_price:
    og_currency = i.split(' ')[0]
    auctionlist_currency.append(og_currency)
    
content['listed_currency'] = auctionlist_currency

In [136]:
content

,author,title,publisher,remainder,remainder2,listed_currency,realised_price,estimated_price,low_estimate,high_estimate,date_of_auction,auction_year,Lot_description,auction_title,image_url,sale_reference,lot_number,url_link
0,ROLEX,A STAINLESS STEEL AUTOMATIC DUAL TIME WRISTWA...,,,,HKD,"HKD 35,000","HKD 24,000 - HKD 40,000","HKD 24,000","HKD 40,000",30 May 2012,2012,[ROLEX. A STAINLESS STEEL AUTOMATIC DUAL TIME ...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4601,https://www.christies.com/lotfinder/watches/ro...
1,ROLEX,A STAINLESS STEEL AUTOMATIC ANTI-MAGNETIC WRI...,,,,HKD,"HKD 50,000","HKD 24,000 - HKD 40,000","HKD 24,000","HKD 40,000",30 May 2012,2012,[ROLEX. A STAINLESS STEEL AUTOMATIC ANTI-MAGNE...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4602,https://www.christies.com/lotfinder/watches/ro...
2,ROLEX,A STAINLESS STEEL AUTOMATIC WRISTWATCH WITH S...,,,,HKD,"HKD 40,000","HKD 24,000 - HKD 40,000","HKD 24,000","HKD 40,000",30 May 2012,2012,[ROLEX. A STAINLESS STEEL AUTOMATIC WRISTWATCH...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4603,https://www.christies.com/lotfinder/watches/ro...
3,ROLEX,A STAINLESS STEEL AUTOMATIC DUAL TIME WRISTWA...,,,,HKD,"HKD 62,500","HKD 24,000 - HKD 40,000","HKD 24,000","HKD 40,000",30 May 2012,2012,[ROLEX. A STAINLESS STEEL AUTOMATIC DUAL TIME ...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4604,https://www.christies.com/lotfinder/watches/ro...
4,ROLEX,A STAINLESS STEEL AUTOMATIC WRISTWATCH WITH S...,,,,HKD,"HKD 35,000","HKD 24,000 - HKD 40,000","HKD 24,000","HKD 40,000",30 May 2012,2012,[ROLEX. A STAINLESS STEEL AUTOMATIC WRISTWATCH...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4605,https://www.christies.com/lotfinder/watches/ro...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3624,Patek Philippe,"An Extremely Fine, Rare and Attractive Stainl...",,,,USD,"USD 423,000","USD 350,000 - USD 550,000","USD 350,000","USD 550,000",6 June 2019,2019,"[Patek Philippe. An Extremely Fine, Rare and A...",An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,92,https://www.christies.com/lotfinder/watches/pa...
3625,Patek Philippe,A Very Fine and Rare 18k White Gold Automatic...,,,,USD,"USD 1,155,000","USD 300,000 - USD 500,000","USD 300,000","USD 500,000",6 June 2019,2019,[Patek Philippe. A Very Fine and Rare 18k Whit...,An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,94,https://www.christies.com/lotfinder/watches/pa...
3626,Patek Philippe,A Rare and Historically Important Platinum an...,,,,USD,"USD 15,000","USD 10,000 - USD 20,000","USD 10,000","USD 20,000",6 June 2019,2019,[Patek Philippe. A Rare and Historically Impor...,An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,95,https://www.christies.com/lotfinder/watches/pa...
3627,Patek Philippe,A Fine 18k White Gold Wristwatch with Center ...,,,,USD,"USD 25,000","USD 20,000 - USD 30,000","USD 20,000","USD 30,000",6 June 2019,2019,[Patek Philippe. A Fine 18k White Gold Wristwa...,An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,97,https://www.christies.com/lotfinder/watches/pa...
3628,Patek Philippe,"A Fine, Rare and Attractive 18k Gold Automati...",,,,USD,"USD 81,250","USD 40,000 - USD 60,000","USD 40,000","USD 60,000",6 June 2019,2019,"[Patek Philippe. A Fine, Rare and Attractive 1...",An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,98,https://www.christies.com/lotfinder/watches/pa...

In [31]:
ep = EasyPeasy()

In [33]:
ep.options()

                     Region                 Alpha2 Alpha3 Currencies InflationDates       ExchangeDates                Overlap
0    Australia                                AU     AUS      AUD     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
1    Austria                                  AT     AUT      EUR     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
2    Belgium                                  BE     BEL      EUR     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
3    Brazil                                   BR     BRA      BRL     [1980, 2018]   [02/01/2008, 19/12/2019]  [02/01/2008, 31/12/2018]
4    Bulgaria                                 BG     BGR      BGN     [1985, 2018]   [19/07/2000, 19/12/2019]  [19/07/2000, 31/12/2018]
5    Canada                                   CA     CAN      CAD     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
6    China                                    CN     CHN      CNY     [1986, 2018]   [01/04/2005, 19/12/2019]  [01/04/2005, 31/12/2018]
7    Croatia                                  HR     HRV      HRK     [1985, 2018]   [01/04/2005, 19/12/2019]  [01/04/2005, 31/12/2018]
8    Cyprus                                   CY     CYP      EUR     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
9    Czechia                                  CZ     CZE      CZK     [1991, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
10   Denmark                                  DK     DNK      DKK     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
11   Estonia                                  EE     EST      EUR     [1992, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
12   Finland                                  FI     FIN      EUR     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
13   France                                   FR     FRA      EUR     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
14   Germany                                  DE     DEU      EUR     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
15   Greece                                   GR     GRC      EUR     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
16   Hong Kong                                HK     HKG      HKD     [1981, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
17   Hungary                                  HU     HUN      HUF     [1972, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
18   Iceland                                  IS     ISL      ISK     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
19   India                                    IN     IND      INR     [1960, 2018]   [02/01/2009, 19/12/2019]  [02/01/2009, 31/12/2018]
20   Indonesia                                ID     IDN      IDR     [1960, 2018]   [01/04/2005, 19/12/2019]  [01/04/2005, 31/12/2018]
21   Ireland                                  IE     IRL      EUR     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
22   Israel                                   IL     ISR      ILS     [1960, 2018]   [03/01/2011, 19/12/2019]  [03/01/2011, 31/12/2018]
23   Italy                                    IT     ITA      EUR     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
24   Japan                                    JP     JPN      JPY     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
25   Korea, Republic of                       KR     KOR      KRW     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
26   Latvia                                   LV     LVA      EUR     [1991, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
27   Lithuania                                LT     LTU      EUR     [1992, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
28   Luxembourg                               LU     LUX      EUR     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
29   Malaysia                                 MY     MYS      MYR     [1960, 2018]   [01/04/2005, 19/12/2019]  [01/04/2005, 31/12/2018]
30   Malta                                    MT     MLT      EUR     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
31   Mexico                                   MX     MEX      MXN     [1960, 2018]   [02/01/2008, 19/12/2019]  [02/01/2008, 31/12/2018]
32   Montenegro                               ME     MNE      EUR     [2005, 2018]   [04/01/1999, 19/12/2019]  [01/01/2005, 31/12/2018]
33   Netherlands                              NL     NLD      EUR     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
34   New Zealand                              NZ     NZL      NZD     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
35   Norway                                   NO     NOR      NOK     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
36   Philippines                              PH     PHL      PHP     [1960, 2018]   [01/04/2005, 19/12/2019]  [01/04/2005, 31/12/2018]
37   Poland                                   PL     POL      PLN     [1970, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
38   Portugal                                 PT     PRT      EUR     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
39   Romania                                  RO     ROU      RON     [1990, 2018]   [01/07/2005, 19/12/2019]  [01/07/2005, 31/12/2018]
40   Russian Federation                       RU     RUS      RUB     [1992, 2018]   [01/04/2005, 19/12/2019]  [01/04/2005, 31/12/2018]
41   San Marino                               SM     SMR      EUR     [2003, 2017]   [04/01/1999, 19/12/2019]  [01/01/2003, 31/12/2017]
42   Singapore                                SG     SGP      SGD     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
43   Slovakia                                 SK     SVK      EUR     [1991, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
44   Slovenia                                 SI     SVN      EUR     [1980, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
45   South Africa                             ZA     ZAF      ZAR     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
46   Spain                                    ES     ESP      EUR     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
47   Sweden                                   SE     SWE      SEK     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
48   Switzerland                              CH     CHE      CHF     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
49   Thailand                                 TH     THA      THB     [1960, 2018]   [01/04/2005, 19/12/2019]  [01/04/2005, 31/12/2018]
50   Turkey                                   TR     TUR      TRY     [1960, 2018]   [03/01/2005, 19/12/2019]  [03/01/2005, 31/12/2018]
51   United Kingdom                           GB     GBR      GBP     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
52   United States                            US     USA      USD     [1960, 2018]   [04/01/1999, 19/12/2019]  [04/01/1999, 31/12/2018]
53   Andorra                                  AD     AND      EUR                    [04/01/1999, 19/12/2019]
54   Faroe Islands                            FO     FRO      DKK                    [04/01/1999, 19/12/2019]
55   Greenland                                GL     GRL      DKK                    [04/01/1999, 19/12/2019]
56   Guadeloupe                               GP     GLP      EUR                    [04/01/1999, 19/12/2019]
57   Holy See (Vatican City State)            VA     VAT      EUR                    [04/01/1999, 19/12/2019]
58   Liechtenstein                            LI     LIE      CHF                    [04/01/1999, 19/12/2019]
59   Martinique                               MQ     MTQ      EUR                    [04/01/1999, 19/12/2019]
60   Mayotte                                  YT     MYT      EUR                    [04/01/1999, 19/12/2019]
61   Monaco                                   MC     MCO      EUR                    [04/01/1999, 19/12/2019]
62   Réunion                                  RE     REU      EUR                    [04/01/1999, 19/12/2019]
63   Saint Barthélemy                         BL     BLM      EUR                    [04/01/1999, 19/12/2019]
64   Saint Pierre and Miquelon                PM     SPM      EUR                    [04/01/1999, 19/12/2019]
65   Afghanistan                              AF     AFG      AFN     [2004, 2017]
66   Albania                                  AL     ALB      ALL     [1991, 2018]
67   Algeria                                  DZ     DZA      DZD     [1969, 2018]
68   Angola                                   AO     AGO      AOA     [1990, 2018]
69   Antigua and Barbuda                      AG     ATG      XCD     [1998, 2018]
70   Armenia                                  AM     ARM      AMD     [1993, 2018]
71   Aruba                                    AW     ABW      AWG     [1980, 2018]
72   Azerbaijan                               AZ     AZE      AZN     [1991, 2018]
73   Bahamas                                  BS     BHS      BSD     [1966, 2018]
74   Bahrain                                  BH     BHR      BHD     [1965, 2018]
75   Bangladesh                               BD     BGD      BDT     [1986, 2018]
76   Barbados                                 BB     BRB      BBD     [1966, 2017]
77   Bhutan                                   BT     BTN      BTN     [1980, 2018]
78   Bolivia, Plurinational State of          BO     BOL      BOB     [1960, 2018]
79   Bosnia and Herzegovina                   BA     BIH      BAM     [2005, 2017]
80   Botswana                                 BW     BWA      BWP     [1974, 2018]
81   Brunei Darussalam                        BN     BRN      BND     [1977, 2018]
82   Burundi                                  BI     BDI      BIF     [1965, 2018]
83   Cabo Verde                               CV     CPV      CVE     [1983, 2018]
84   Cambodia                                 KH     KHM      KHR     [1994, 2017]
85   Cameroon                                 CM     CMR      XAF     [1968, 2018]
86   Cayman Islands                           KY     CYM      KYD     [2009, 2016]
87   Central African Republic                 CF     CAF      XAF     [1980, 2015]
88   Chad                                     TD     TCD      XAF     [1983, 2015]
89   Chile                                    CL     CHL      CLP     [1970, 2018]
90   Colombia                                 CO     COL      COP     [1960, 2018]
91   Comoros                                  KM     COM      KMF     [2000, 2013]
92   Congo                                    CG     COG      XAF     [1985, 2017]
93   Congo, The Democratic Republic of the    CD     COD      CDF     [1963, 2016]
94   Costa Rica                               CR     CRI      CRC     [1960, 2018]
95   Curaçao                                  CW     CUW      ANG     [2000, 2017]
96   Djibouti                                 DJ     DJI      DJF     [1979, 2018]
97   Dominica                                 DM     DMA      XCD     [1964, 2018]
98   Dominican Republic                       DO     DOM      DOP     [1960, 2018]
99   Egypt                                    EG     EGY      EGP     [1960, 2017]
100  Equatorial Guinea                        GQ     GNQ      XAF     [1985, 2018]
101  Eswatini                                 SZ     SWZ      SZL     [1965, 2018]
102  Ethiopia                                 ET     ETH      ETB     [1965, 2017]
103  Fiji                                     FJ     FJI      FJD     [1969, 2018]
104  Gabon                                    GA     GAB      XAF     [1962, 2018]
105  Gambia                                   GM     GMB      GMD     [1961, 2018]
106  Ghana                                    GH     GHA      GHS     [1964, 2018]
107  Grenada                                  GD     GRD      XCD     [1976, 2018]
108  Guatemala                                GT     GTM      GTQ     [1960, 2018]
109  Guinea                                   GN     GIN      GNF     [2004, 2018]
110  Guyana                                   GY     GUY      GYD     [1994, 2018]
111  Haiti                                    HT     HTI      HTG     [1960, 2018]
112  Honduras                                 HN     HND      HNL     [1960, 2018]
113  Iran, Islamic Republic of                IR     IRN      IRR     [1960, 2017]
114  Iraq                                     IQ     IRQ      IQD     [1960, 2018]
115  Jamaica                                  JM     JAM      JMD     [1960, 2018]
116  Jordan                                   JO     JOR      JOD     [1969, 2018]
117  Kazakhstan                               KZ     KAZ      KZT     [1993, 2017]
118  Kenya                                    KE     KEN      KES     [1960, 2018]
119  Kuwait                                   KW     KWT      KWD     [1972, 2017]
120  Kyrgyzstan                               KG     KGZ      KGS     [1995, 2017]
121  Lao People's Democratic Republic         LA     LAO      LAK     [1988, 2018]
122  Lebanon                                  LB     LBN      LBP     [2008, 2018]
123  Lesotho                                  LS     LSO      LSL     [1973, 2018]
124  Liberia                                  LR     LBR      LRD     [2001, 2018]
125  Libya                                    LY     LBY      LYD     [1964, 2013]
126  Macao                                    MO     MAC      MOP     [1988, 2018]
127  Madagascar                               MG     MDG      MGA     [1964, 2015]
128  Malawi                                   MW     MWI      MWK     [1980, 2018]
129  Maldives                                 MV     MDV      MVR     [2000, 2018]
130  Mauritania                               MR     MRT      MRO     [1985, 2018]
131  Mauritius                                MU     MUS      MUR     [1963, 2018]
132  Moldova, Republic of                     MD     MDA      MDL     [1991, 2018]
133  Mongolia                                 MN     MNG      MNT     [1992, 2018]
134  Morocco                                  MA     MAR      MAD     [1960, 2018]
135  Myanmar                                  MM     MMR      MMK     [1960, 2012]
136  Nepal                                    NP     NPL      NPR     [1964, 2018]
137  Nicaragua                                NI     NIC      NIO     [1999, 2018]
138  Nigeria                                  NG     NGA      NGN     [1960, 2018]
139  North Macedonia                          MK     MKD      MKD     [1993, 2018]
140  Oman                                     OM     OMN      OMR     [2000, 2018]
141  Pakistan                                 PK     PAK      PKR     [1960, 2018]
142  Panama                                   PA     PAN      PAB     [1960, 2018]
143  Papua New Guinea                         PG     PNG      PGK     [1971, 2017]
144  Paraguay                                 PY     PRY      PYG     [1960, 2018]
145  Peru                                     PE     PER      PEN     [1960, 2018]
146  Qatar                                    QA     QAT      QAR     [1979, 2018]
147  Rwanda                                   RW     RWA      RWF     [1966, 2018]
148  Saint Kitts and Nevis                    KN     KNA      XCD     [1979, 2018]
149  Saint Lucia                              LC     LCA      XCD     [1965, 2018]
150  Saint Vincent and the Grenadines         VC     VCT      XCD     [1974, 2018]
151  Samoa                                    WS     WSM      WST     [1961, 2018]
152  Sao Tome and Principe                    ST     STP      STD     [1996, 2018]
153  Saudi Arabia                             SA     SAU      SAR     [1963, 2018]
154  Serbia                                   RS     SRB      RSD     [1994, 2018]
155  Seychelles                               SC     SYC      SCR     [1970, 2018]
156  Sierra Leone                             SL     SLE      SLL     [2006, 2018]
157  Sint Maarten (Dutch part)                SX     SXM      ANG     [2005, 2017]
158  Solomon Islands                          SB     SLB      SBD     [1971, 2017]
159  South Sudan                              SS     SSD      SSP     [2008, 2017]
160  Sri Lanka                                LK     LKA      LKR     [1960, 2018]
161  Sudan                                    SD     SDN      SDG     [1960, 2015]
162  Suriname                                 SR     SUR      SRD     [1960, 2015]
163  Syrian Arab Republic                     SY     SYR      SYP     [1960, 2012]
164  Tajikistan                               TJ     TJK      TJS     [2000, 2016]
165  Tanzania, United Republic of             TZ     TZA      TZS     [1965, 2018]
166  Tonga                                    TO     TON      TOP     [1975, 2017]
167  Trinidad and Tobago                      TT     TTO      TTD     [1960, 2018]
168  Tunisia                                  TN     TUN      TND     [1983, 2018]
169  Uganda                                   UG     UGA      UGX     [1993, 2018]
170  Ukraine                                  UA     UKR      UAH     [1992, 2018]
171  United Arab Emirates                     AE     ARE      AED     [2007, 2018]
172  Uruguay                                  UY     URY      UYU     [1960, 2018]
173  Vanuatu                                  VU     VUT      VUV     [1976, 2017]
174  Venezuela, Bolivarian Republic of        VE     VEN      VEF     [2008, 2016]
175  Viet Nam                                 VN     VNM      VND     [1995, 2018]
176  Yemen                                    YE     YEM      YER     [1990, 2014]
177  Zambia                                   ZM     ZMB      ZMW     [1985, 2018]
178  Anguilla                                 AI     AIA      XCD
179  Argentina                                AR     ARG      ARS
180  Belarus                                  BY     BLR      BYN
181  Belize                                   BZ     BLZ      BZD
182  Bermuda                                  BM     BMU      BMD
183  Cuba                                     CU     CUB      CUP
184  Eritrea                                  ER     ERI      ERN
185  Falkland Islands (Malvinas)              FK     FLK      FKP
186  Georgia                                  GE     GEO      GEL
187  Gibraltar                                GI     GIB      GIP
188  Korea, Democratic People's Republic of   KP     PRK      KPW
189  Montserrat                               MS     MSR      XCD
190  Mozambique                               MZ     MOZ      MZN
191  Somalia                                  SO     SOM      SOS
192  Taiwan, Province of China                TW     TWN      TWD
193  Turkmenistan                             TM     TKM      TMT
194  Uzbekistan                               UZ     UZB      UZS

In [50]:
cols

['author',
 'title',
 'publisher',
 'remainder',
 'remainder2',
 'realised_price',
 'estimated_price',
 'date_of_auction',
 'Lot_description',
 'auction_title',
 'image_url',
 'sale_reference',
 'lot_number',
 'url_link',
 'low_estimate',
 'high_estimate']

In [58]:
# Move the low estimate into its own column.
cols = content.columns.tolist()
column_to_move = "low_estimate"
new_position = 7
cols.insert(new_position, cols.pop(cols.index(column_to_move)))
content = content[cols]

In [65]:
# Move the high estimate into its own column.
cols = content.columns.tolist()
column_to_move = "high_estimate"
new_position = 8
cols.insert(new_position, cols.pop(cols.index(column_to_move)))
content = content[cols]

In [79]:
# Make column with just the year. To make things easier later on.
cols = content.columns.tolist()
column_to_move = "auction_year"
new_position = 10
cols.insert(new_position, cols.pop(cols.index(column_to_move)))
content = content[cols]

In [82]:
# Make column with the listed currency- this information could be interesting.
cols = content.columns.tolist()
column_to_move = "listed_currency"
new_position = 5
cols.insert(new_position, cols.pop(cols.index(column_to_move)))
content = content[cols]

In [83]:
content

,author,title,publisher,remainder,remainder2,listed_currency,realised_price,estimated_price,low_estimate,high_estimate,date_of_auction,auction_year,Lot_description,auction_title,image_url,sale_reference,lot_number,url_link
0,ROLEX,A STAINLESS STEEL AUTOMATIC DUAL TIME WRISTWA...,,,,HKD,"HKD 35,000","HKD 24,000 - HKD 40,000","HKD 24,000","HKD 40,000",30 May 2012,2012,[ROLEX. A STAINLESS STEEL AUTOMATIC DUAL TIME ...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4601,https://www.christies.com/lotfinder/watches/ro...
1,ROLEX,A STAINLESS STEEL AUTOMATIC ANTI-MAGNETIC WRI...,,,,HKD,"HKD 50,000","HKD 24,000 - HKD 40,000","HKD 24,000","HKD 40,000",30 May 2012,2012,[ROLEX. A STAINLESS STEEL AUTOMATIC ANTI-MAGNE...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4602,https://www.christies.com/lotfinder/watches/ro...
2,ROLEX,A STAINLESS STEEL AUTOMATIC WRISTWATCH WITH S...,,,,HKD,"HKD 40,000","HKD 24,000 - HKD 40,000","HKD 24,000","HKD 40,000",30 May 2012,2012,[ROLEX. A STAINLESS STEEL AUTOMATIC WRISTWATCH...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4603,https://www.christies.com/lotfinder/watches/ro...
3,ROLEX,A STAINLESS STEEL AUTOMATIC DUAL TIME WRISTWA...,,,,HKD,"HKD 62,500","HKD 24,000 - HKD 40,000","HKD 24,000","HKD 40,000",30 May 2012,2012,[ROLEX. A STAINLESS STEEL AUTOMATIC DUAL TIME ...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4604,https://www.christies.com/lotfinder/watches/ro...
4,ROLEX,A STAINLESS STEEL AUTOMATIC WRISTWATCH WITH S...,,,,HKD,"HKD 35,000","HKD 24,000 - HKD 40,000","HKD 24,000","HKD 40,000",30 May 2012,2012,[ROLEX. A STAINLESS STEEL AUTOMATIC WRISTWATCH...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4605,https://www.christies.com/lotfinder/watches/ro...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3624,Patek Philippe,"An Extremely Fine, Rare and Attractive Stainl...",,,,USD,"USD 423,000","USD 350,000 - USD 550,000","USD 350,000","USD 550,000",6 June 2019,2019,"[Patek Philippe. An Extremely Fine, Rare and A...",An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,92,https://www.christies.com/lotfinder/watches/pa...
3625,Patek Philippe,A Very Fine and Rare 18k White Gold Automatic...,,,,USD,"USD 1,155,000","USD 300,000 - USD 500,000","USD 300,000","USD 500,000",6 June 2019,2019,[Patek Philippe. A Very Fine and Rare 18k Whit...,An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,94,https://www.christies.com/lotfinder/watches/pa...
3626,Patek Philippe,A Rare and Historically Important Platinum an...,,,,USD,"USD 15,000","USD 10,000 - USD 20,000","USD 10,000","USD 20,000",6 June 2019,2019,[Patek Philippe. A Rare and Historically Impor...,An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,95,https://www.christies.com/lotfinder/watches/pa...
3627,Patek Philippe,A Fine 18k White Gold Wristwatch with Center ...,,,,USD,"USD 25,000","USD 20,000 - USD 30,000","USD 20,000","USD 30,000",6 June 2019,2019,[Patek Philippe. A Fine 18k White Gold Wristwa...,An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,97,https://www.christies.com/lotfinder/watches/pa...
3628,Patek Philippe,"A Fine, Rare and Attractive 18k Gold Automati...",,,,USD,"USD 81,250","USD 40,000 - USD 60,000","USD 40,000","USD 60,000",6 June 2019,2019,"[Patek Philippe. A Fine, Rare and Attractive 1...",An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,98,https://www.christies.com/lotfinder/watches/pa...

In [73]:
len(years_only)

3629

<h4> Use the easymoney library to convert currency and adjust for inflation. </h4>

In [93]:
for row in content.iterrows():
    print(row[''])

TypeError: 'generator' object is not subscriptable

<h4> Pandas has an apply method to create new columns based on existing columns. </h4>

In [126]:
def adjust_currency(amount, original_currency):
    #direct conversion
    #print(amount)
    amount = amount.split(' ')[1]
    #remove comma from value
    amount = amount.replace(',','')
    direct_con = ep.currency_converter(amount=int(amount), from_currency=original_currency, to_currency="USD", pretty_print=False)
    #inflated conversion
    inflate_con = ep.normalize(amount=direct_con, region="USA", from_year=2010, to_year="latest", pretty_print=False)
    return inflate_con

In [127]:
adjust_currency('HKD 5000','HKD')

664.21

In [128]:
content['realised_price'] = content.apply(lambda row: adjust_currency(row['realised_price'], row['listed_currency']), axis=1)

IndexError: ('list index out of range', 'occurred at index 2548')

In [129]:
content.iloc[2548,]

author                        PATEK PHILIPPE, VINTAGE CALATRAVA, REF
title                                                         1585\n
publisher
remainder
remainder2
listed_currency
realised_price
estimated_price                              USD 28,500 - USD 35,900
low_estimate                                              USD 28,500
high_estimate                                             USD 35,900
date_of_auction                                    24 September 2015
auction_year                                                    2015
Lot_description    [PATEK PHILIPPE, VINTAGE CALATRAVA, REF. 1585,...
auction_title      The Watch Shop                                ...
image_url          [[https://www.christies.com/img/LotImages/2015...
sale_reference                                                 12391
lot_number                                                     583
url_link           https://www.christies.com/lotfinder/lot/patek-...
Name: 2548, dtype: object

<h4> I realize that some auctions did not sell and therefore do not have realised prices. Listed currency is empty as well because realised price was used to pull the currency. I went back to edit the script which creates the 'listed_currency' column</h4>

In [137]:
def adjust_currency(amount, original_currency):
    #direct conversion
    #print(amount)
    #Check if amount is not empty, if data present, perform adjustment. Otherwise, return empty string
    if amount:
        amount = amount.split(' ')[1]
        #remove comma from value
        amount = amount.replace(',','')
        direct_con = ep.currency_converter(amount=int(amount), from_currency=original_currency, to_currency="USD", pretty_print=False)
        #inflated conversion
        inflate_con = ep.normalize(amount=direct_con, region="USA", from_year=2010, to_year="latest", pretty_print=False)
        return inflate_con
    else:
        return ''

In [138]:
content['realised_price'] = content.apply(lambda row: adjust_currency(row['realised_price'], row['listed_currency']), axis=1)

In [139]:
content['low_estimate'] = content.apply(lambda row: adjust_currency(row['low_estimate'], row['listed_currency']), axis=1)

In [140]:
content['high_estimate'] = content.apply(lambda row: adjust_currency(row['high_estimate'], row['listed_currency']), axis=1)

In [141]:
content

,author,title,publisher,remainder,remainder2,listed_currency,realised_price,estimated_price,low_estimate,high_estimate,date_of_auction,auction_year,Lot_description,auction_title,image_url,sale_reference,lot_number,url_link
0,ROLEX,A STAINLESS STEEL AUTOMATIC DUAL TIME WRISTWA...,,,,HKD,4649.49,"HKD 24,000 - HKD 40,000",3188.23,5313.71,30 May 2012,2012,[ROLEX. A STAINLESS STEEL AUTOMATIC DUAL TIME ...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4601,https://www.christies.com/lotfinder/watches/ro...
1,ROLEX,A STAINLESS STEEL AUTOMATIC ANTI-MAGNETIC WRI...,,,,HKD,6642.13,"HKD 24,000 - HKD 40,000",3188.23,5313.71,30 May 2012,2012,[ROLEX. A STAINLESS STEEL AUTOMATIC ANTI-MAGNE...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4602,https://www.christies.com/lotfinder/watches/ro...
2,ROLEX,A STAINLESS STEEL AUTOMATIC WRISTWATCH WITH S...,,,,HKD,5313.71,"HKD 24,000 - HKD 40,000",3188.23,5313.71,30 May 2012,2012,[ROLEX. A STAINLESS STEEL AUTOMATIC WRISTWATCH...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4603,https://www.christies.com/lotfinder/watches/ro...
3,ROLEX,A STAINLESS STEEL AUTOMATIC DUAL TIME WRISTWA...,,,,HKD,8302.67,"HKD 24,000 - HKD 40,000",3188.23,5313.71,30 May 2012,2012,[ROLEX. A STAINLESS STEEL AUTOMATIC DUAL TIME ...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4604,https://www.christies.com/lotfinder/watches/ro...
4,ROLEX,A STAINLESS STEEL AUTOMATIC WRISTWATCH WITH S...,,,,HKD,4649.49,"HKD 24,000 - HKD 40,000",3188.23,5313.71,30 May 2012,2012,[ROLEX. A STAINLESS STEEL AUTOMATIC WRISTWATCH...,Important Watches,[[https://www.christies.com/img/LotImages/2012...,2919,4605,https://www.christies.com/lotfinder/watches/ro...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3624,Patek Philippe,"An Extremely Fine, Rare and Attractive Stainl...",,,,USD,438172,"USD 350,000 - USD 550,000",362553.35,569726.70,6 June 2019,2019,"[Patek Philippe. An Extremely Fine, Rare and A...",An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,92,https://www.christies.com/lotfinder/watches/pa...
3625,Patek Philippe,A Very Fine and Rare 18k White Gold Automatic...,,,,USD,1.19643e+06,"USD 300,000 - USD 500,000",310760.02,517933.36,6 June 2019,2019,[Patek Philippe. A Very Fine and Rare 18k Whit...,An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,94,https://www.christies.com/lotfinder/watches/pa...
3626,Patek Philippe,A Rare and Historically Important Platinum an...,,,,USD,15538,"USD 10,000 - USD 20,000",10358.67,20717.33,6 June 2019,2019,[Patek Philippe. A Rare and Historically Impor...,An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,95,https://www.christies.com/lotfinder/watches/pa...
3627,Patek Philippe,A Fine 18k White Gold Wristwatch with Center ...,,,,USD,25896.7,"USD 20,000 - USD 30,000",20717.33,31076.00,6 June 2019,2019,[Patek Philippe. A Fine 18k White Gold Wristwa...,An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,97,https://www.christies.com/lotfinder/watches/pa...
3628,Patek Philippe,"A Fine, Rare and Attractive 18k Gold Automati...",,,,USD,84164.2,"USD 40,000 - USD 60,000",41434.67,62152.00,6 June 2019,2019,"[Patek Philippe. A Fine, Rare and Attractive 1...",An Evening of Exceptional Watches,[[https://www.christies.com/img/LotImages/2019...,17493,98,https://www.christies.com/lotfinder/watches/pa...

<h2> Ideas about future analysis and data cleaning </h2>

<h4> Now that this dataframe is relatively polished there are a few more factors to consider. This dataset has not been completely cleaned; there are still some jewelery like necklaces, bracelets and earrings. These objects are likely included due to being part of an auction with 'watch' in the title of the auction.

We can now facet/subset the data based on the listed currency. Perhaps auctions listed in a certain currency are more likely to sell at or above the high estimate for auction sale? In a similar vein, we can also subset the auctions based on year.
    
We can create a word cloud for the object descriptions to see the most common features in the listed objects.
    
We can move on to image analysis and add a column for auction listings which contain an image with the standard perspective of a timepiece - a white background with the forward facing watch.
    
And much more, including overall visualization and in-depth Exploratory Data Analysis.
    
</h4>